.player{
  display: flex;
  align-items: center;
  padding: 10px;
  height:80px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: rgba(192, 192, 192, .8);
  border-bottom: 3px solid black;
}